{% extends 'adminlte/base.html' %}

{% block content %}
<div class="col-md-6">
<div class="card card-primary">
      <div class="card-header">
          <h4>Upload New Template</h4>
            <div id="container"> 
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}            
              {% for field in form  %}
                  <div class="form-group">
                    <div class="col-sm-6">
                      <b>{{ field.label_tag }}</b> - 
                      
                          <fieldset class="module aligned ">{{ field }} </fieldset>
                    </div>
                </div>
              {% endfor %}
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
        <br>
</div>
</div>
</div>
</div>
{% endblock %}
    