{% extends 'adminlte/base.html' %}

{% block content %}
<div class="col-md-6">
<div class="card card-primary">
      <div class="card-header">
          <h4>Upload New Template</h4>
            <div id="container"> 
      <form action="" method="post">
          {% csrf_token %}            
              {% for field in form  %}
                  <div class="form-group">
                    <div class="col-sm-6">
                      <b>{{ field.label_tag }}</b> - 
                      {{ field }}
                          <fieldset class="module aligned ">{{ formset.non_field_errors }}</fieldset>
                          {{ formset.errors }}
                    </div>
                </div>
              {% endfor %}
            </fieldset>
            <input type="submit" class="btn btn-primary" value="Create">
          {{ form.errors }}      
        </form>
        <br>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
    