{% extends 'adminlte/base.html' %}

{% block content %}
<div class="col-md-6">
<div class="card card-primary">
      <div class="card-header">
          <h4>Create New Experience</h4>
            <div id="container">  
              <br>
            <ul>
            <p>An experience indicates some level of knowledge about specific topic.</p>
            <p>Each experience requires an Experience Domain reference</p>
            <br>
          <p> Examples: </p>
            <ul>

                <li>Python</li>
                <li>CentOS</li>
                <li>Zendesk</li>
                <li>Kernel Tuning</li>
            </ul>
            </ul>
      <form action="" method="post">
          {% csrf_token %}
          
            
              {% for field in form  %}
              
              <div class="card-body">
                  <div class="form-row">
                    <div class="col-sm-6">
                      <b>{{ field.label }}: </b>
                      <fieldset class="module aligned ">{{ field }}</fieldset>
                    </div>
              </div>
          </div>
              </fieldset>
              {% endfor %}
              
            <br>
            <input type="submit" class="btn btn-primary" name="create" value="Create">
            <input type="submit" class="btn btn-primary" name="create_another" value="Create And Add Another">
          
        </form>
        
        <br>
</div>
</div>
</div>
</div>
</div>
{% endblock %}