{% extends 'adminlte/base.html' %}

{% block content %}
<div class="col-md-6">
<div class="card card-primary">
      <div class="card-header">
          <h4>Create New Experience Domain</h4>
            <div id="container">  

                <ul>
            <p>An experience domain is used to group experiences together</p>
            <br>
          <p> Examples: </p>
            <ul>

                <li>Programming Languages</li>
                <li>Server Operating Systems</li>
                <li>Networking Protocols</li>
                <li>Frontend Frameworks</li>
            </ul>
            </ul>
      <form action="" method="post">
          {% csrf_token %}
            
              {% for field in form  %}
              
              <div class="card-body">
                  <div class="form-row">
                    <div class="col-sm-6">
                      <b>{{ field.label_tag }}</b>
                      <fieldset class="module aligned "> {{ field }}</fieldset>
                    </div>
              </div>
          </div>
              </fieldset>
              {% endfor %}
              
            <br>
            <input type="submit" class="btn btn-primary" name="create" value="Create">
            <input type="submit" class="btn btn-primary" name="create_another" value="Create And Add Another">

          <br>
        </form>
        <br>
</div>
</div>
</div>
</div>
</div>
{% endblock %}