{% extends 'adminlte/base.html' %}

{% block content %}
<div class="col-md-6">
<div class="card card-primary">
      <div class="card-header">
          <h4>Create New Duty</h4>
            <div id="container">  
          <ul>
            <p>A Duty briefely describes a responsibility that is part of your job description at an employment.</p>
            <br>
          <p> Examples: </p>
            <ul>

                <li>Provide email/phone/on-site technical support for customers.</li>
                <li>Maintain database of customer contacts</li>
                <li>Monitor team performance</li>
                <li>Onboard new team members</li>
            </ul>
            </ul>			
                <form action="" method="post">
          {% csrf_token %}
            
              {% for field in form  %}
              
              <div class="card-body">
                  <div class="form-row">
                    <div class="col-sm-6">
                      <b>{{ field.label_tag }}</b>
                      <fieldset class="module aligned ">{{ field }}</fieldset>
                    </div>
              </div>
          </div>
              </fieldset>
              {% endfor %}

            <br>
            <input type="submit" class="btn btn-primary" name="create" value="Create">
            <input type="submit" class="btn btn-primary" name="create_another" value="Create And Add Another">

</div>
</form>
</div>

{% endblock %}


        