{% extends 'adminlte/base.html' %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/viewer/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/viewer/css/forms.css">

    <script type="text/javascript" src="/static/viewer/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/viewer/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/viewer/js/core.js"></script>
    <script type="text/javascript" src="/static/viewer/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/viewer/js/actions.js"></script>
    <script type="text/javascript" src="/static/viewer/js/urlify.js"></script>
    <script type="text/javascript" src="/static/viewer/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/viewer/js/vendor/xregexp/xregexp.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="https://rawgit.com/makeusabrew/bootbox/f3a04a57877cab071738de558581fbc91812dce9/bootbox.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap 4 dependency -->
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>

    <!-- bootbox code -->
    <script src="bootbox.min.js"></script>
    <script src="bootbox.locales.min.js"></script>
{% block nav_bar %}
{% endblock %}